## Basics of Python

> `Question:` Print your name

In [2]:
# CODE HERE
print("My name is Bhargavi")

My name is Bhargavi

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

Variables are nothing but place holders to store the literal values.

In [4]:
# Code Here
a=2
b=3.4
c="True"
d=[4,5,2]
e={2,3,4}
f=(1,2,3)
g={"a":8,"b":9,"c":10}
a
b

3.4

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [5]:
# CODE HERE
width=17
height=12.0
l=1+2*5
delimiter='.'
print(width/2,type(17/2))
print(width/2.0,type(12.0/2.0))
print(height/3,type(11/3))
print(l,type(l))
print(delimiter*5,type(delimiter))

8.5 <class 'float'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>
..... <class 'str'>

> `Question:` Add two number by taking variable names as first and seccond

In [6]:
#CODE HERE
x=100
y=200
print("first number is:",x)
print("second number is:",y)
print("Addition of two numbers are:",x+y)

first number is: 100
second number is: 200
Addition of two numbers are: 300

> `Question:` Add your first name and second name

In [7]:
x="Sachin"
y="Tendulkar"
print("My first name is :",x)
print("My second name is :",y)
print("My full name is :",x + y)

My first name is : Sachin
My second name is : Tendulkar
My full name is : SachinTendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [8]:
# CODE HERE
a=10
print(a,type(a))

b='10'
print(b,type(b))

c=True
print(c,type(c))

d=10.5
print(d,type(d))

10 <class 'int'>
10 <class 'str'>
True <class 'bool'>
10.5 <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [10]:
# CODE HERE
num_int=123
num_str=int("456")
print(f'Addition of {num_int} and {num_str} is : {num_int+num_str}')

Addition of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [11]:
# CODE HERE
radius=4/3*3.14*(5**3)
radius

523.3333333333334

> Question: Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [12]:
# CODE HERE
x=24.95
d=(40/100)
discount=(x*d)
print(discount)
r=(x-discount)
print(r)
s=3
n=0.75
k=59
f=(n*k)+s
n=60
b=14.969999
c=(n*b)
y=c+f
print(y)

9.98
14.969999999999999
945.44994